__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
.env
logs/
plugins/
airflow.db
airflow.cfg
standalone_admin_password.txt
data/bronze/*
data/silver/*
data/gold/*
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep